h1 {
    color: green;
    background-color: red;
    border: solid blue;
    position: absolute;
    left: 45%;


}

img {
    padding-top: 100px;
    height: 300px;
    width: 500px;
    display: block;
    margin: 0 auto;
}

body{
    background-color:rgb(10, 200, 200);
}
.nav_bar{
    margin-top: 100px;
}
.nav{
    max-width: 1200px;
    margin: 0 auto  ;
    background-color: blue;
    color: red;
    border:  solid black;
}
#loremstyle{
    background-color: rgb(34, 24, 92);
    color: rgb(45,56, 200);
}