.nav_bar {
    background-color: black;
}

.nav {
    max-width: 1700px;
    color: white;
    display: flex;
    justify-content: space-between;
}

#hello {
    margin-left: 20px;
}

.section {
    margin-left: 50px;
}

.lists {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin-top: 30px;
    font-size: 1.5rem;
}